<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="brand-logo" src="/img/brand5.png" alt="GeekyManga"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carts/{{user._id}}">Cart</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <h2>Carrito de Compras</h2>
  <hr>
  {{#if cart.products}}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each cart.products}}
    <div class="col-md-2 mb-4">
      <div class="card h-100">
        <img src="{{this.product.imageUrl}}" class="card-img-top" alt="{{this.product.title}}">
        <div class="card-body">
          <h5 class="card-title">{{this.product.title}}</h5>
          <p class="card-text">Cantidad: {{this.amount}}</p>
          <p class="card-text">Precio Unitario: ${{this.product.price}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="text-center mt-4">
    <button id="clear-cart-button" class="btn btn-danger">Vaciar Carrito</button>
  </div>
  {{else}}
  <p class="no-cart-message text-muted">Tu carrito está vacío</p>
  {{/if}}
</div>


<!-- Formulario de pago -->
<div id="payment-form" class="mt-5">
  <h2>Checkout</h2>
  <hr>
  <div id="card-element" class="form-control"></div>
  <div id="card-errors" role="alert" class="text-danger"></div>
  <button id="checkout-button" class="btn btn-primary mt-3">Finalizar Compra</button>
  <p id="purchase-message" class="mt-3"></p>
</div>

<!-- Scripts -->
<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe('pk_test_51OxC2OKlCW7s1OuWEnZ1gQg9TvmIn2BlA3xBnpZMcinWDSnttJAViG1ZKQp5SadWVLRDMIOGxmn1kbWrQ3otooYq00isYyJ3JE');
  const elements = stripe.elements();
  const cardElement = elements.create('card');

  cardElement.mount('#card-element');

  cardElement.on('change', function (event) {
    const displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  document.getElementById('checkout-button').addEventListener('click', async function (event) {
    event.preventDefault();

    const { paymentMethod, error } = await stripe.createPaymentMethod({
      type: 'card',
      card: cardElement,
    });

    if (error) {
      const displayError = document.getElementById('card-errors');
      displayError.textContent = error.message;
    } else {
      try {
        const response = await fetch('/api/payments/payment-intents', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ productIds: [{{ #each cart.products }}"{{this.product._id}}", {{/ each}}]
    }),
        });
  if (response.ok) {
    window.location.href = '/payment-success';
  } else {
    document.getElementById('purchase-message').textContent = "Error al procesar la compra";
  }
      } catch (error) {
    console.error("Error al finalizar compra:", error);
    document.getElementById('purchase-message').textContent = "Error al procesar la compra";
  }
    }
  });

  async function getCartId() {
    try {
      const response = await fetch('/api/carts', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      });
      if (response.ok) {
        const data = await response.json();
        const cartId = data.payload._id;
        return cartId;
      } else {
        console.error("Error al obtener el carrito:", response.status);
        return null;
      }
    } catch (error) {
      console.error("Error al obtener el carrito:", error);
      return null;
    }
  }

  document.getElementById('clear-cart-button').addEventListener('click', async function (event) {
    event.preventDefault();

    try {
      const cartId = await getCartId();
      if (!cartId) return;

      const response = await fetch(`/api/carts/${cartId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        window.location.reload();
      } else {
        console.error("Error al vaciar el carrito:", response.status);
      }
    } catch (error) {
      console.error("Error al vaciar el carrito:", error);
    }
  });
</script>