<h1>Profile</h1>

<div>
  <strong>First Name:</strong>
  {{#if first_name}}{{first_name}}{{else}}N/A{{/if}}
</div>
<div>
  <strong>Last Name:</strong>
  {{#if last_name}}{{last_name}}{{else}}N/A{{/if}}
</div>
<div>
  <strong>Age:</strong>
  {{#if age}}{{age}}{{else}}N/A{{/if}}
</div>
<div>
  <strong>Email:</strong>
  {{#if email}}{{email}}{{else}}N/A{{/if}}
</div>

<a href="/api/session/logout">Logout</a>