{{! Navbar }}
<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="brand-logo" src="/img/brand5.png" alt="GeekyManga"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carts/{{user.cart}}">Cart</a>
          </li>
        </ul>
        {{!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> --}}
      </div>
    </div>
  </nav>
</div>

<div class="profile-container">
  <h1 class="profile-title">Profile</h1>

  <div class="profile-info">
    <div>
      <strong>First Name:</strong>
      {{#if user.first_name}}{{user.first_name}}{{else}}N/A{{/if}}
    </div>
    <div>
      <strong>Last Name:</strong>
      {{#if user.last_name}}{{user.last_name}}{{else}}N/A{{/if}}
    </div>
    <div>
      <strong>Age:</strong>
      {{#if user.age}}{{user.age}}{{else}}N/A{{/if}}
    </div>
    <div>
      <strong>Email:</strong>
      {{#if user.email}}{{user.email}}{{else}}N/A{{/if}}
    </div>
  </div>

  <a href="/logout" class="logout-link">Logout</a>
</div>